@charset UTF-8;
@import "../../mds/base.css";
@import "../../mds/helper.css";

/* width 1144px style */

/* 페이지 공통
*****************************************************************/
em { font-style: normal;}
a{ text-decoration: none; color: #bdbcbc;}
ul{list-style: none;}

/* 헤더 #top 공통
*****************************************************************/
#top { position: relative; height: 144px; background-color: #505b84;}

/* #top 로고
*****************************************************************/
#top > h1{
	float:left;
	padding: 23px 0 18px 40px;
	min-width: 408px; max-height: 103px; overflow: hidden;
	background: #a2cd22;
}
#top .contact_addr{
	position: absolute;
	top: 72px; left: 213px; margin-top: -35px;
	width: 156px;
	color:#fff;
	text-align: left;
}
#top .contact_addr h2{ font-size: 12px; font-weight: bold;}
#top .contact_addr h2 + h2 {margin-top: 1px;}
#top .contact_addr >img{ display: block; margin-top : 9px;}

/* #top #gnb 네비게이션
*****************************************************************/
#top #gnb {float:left;}
#top #gnb ul{ overflow: hidden; }
#top #gnb ul li{ 
	float:left;
	/*background-color: #505b84;*/
	background-repeat: no-repeat;
	background-position: center;
}
#top #gnb ul li + li { border-left : 1px solid rgba(255, 255, 255, 0.1);}
#top #gnb ul li > a{
	display: block;
	width: 149px;
	height: 144px;
	text-indent: -999999em;
}
#top #gnb .works{background-image: url("../img/icons/works.gif");}
#top #gnb .about{background-image: url("../img/icons/about.gif");}
#top #gnb .contact{	background-image: url("../img/icons/contact.gif"); border-right: 1px solid rgba(255, 255, 255, .3); }

/* #top #gnb .contact 상단 우측 메뉴
*****************************************************************/
#top .contact{ float: right; width:33%; font-size: 12px; color: white; font-weight: bold; border-bottom: 1px solid rgba(255, 255, 255, .3);}

/* #top #gnb .contact 상담메일, 브로슈어 버튼
*****************************************************************/
#top .contact .direct_btn{
	position: absolute;
	right: 31px;
	display: block;
	width: 180px; height: 22px;
	padding-top : 8px;
	padding-left: 18px;
	
	background-image: url("../img/icons/arrow.png");
	background-repeat: no-repeat;
	background-position: right 12px center;

	color: white;
	text-transform: uppercase;
}
#top .contact #prj_request{
	background-color: #05b5c5;
	top: 97px;
}
#top .contact #brochure{
	background-color: #aace3d;
	top : 63px;
}

/* #top #gnb .contact 상단 우측 메뉴 SNS 아이콘
*****************************************************************/
#top .contact #sns{
	width: 226px; height: 47px; float:right;
	border-left: 1px solid rgba(255, 255, 255, .4);
}
#top .contact #sns li{
	float: left;
	background-color: #505b84;
}
#top .contact #sns li > a {
	display: block; 
	width: 47px; height: 47px;
	text-indent: -99999em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% 40%;
}
#top .contact #sns li > .facebook{ background-image: url("../img/icons/icon_facebook.png"); }
#top .contact #sns li > .twitter{ background-image: url("../img/icons/icon_twitter.png"); }
#top .contact #sns li > .blog{ background-image: url("../img/icons/icon_blog.png"); }
#top .contact #sns li > .email{ background-image: url("../img/icons/icon_email.png"); }
#top .contact #sns li + li::before
{
	float: left;
	content: url("../img/bg_sns.gif");
	position: relative;
	top: 13px;
	width:1px;
 }
#top .contact #sns li + li + li + li::before{content: "";}
#top .contact #sns li + li + li + li { border-left: 1px solid rgba(255, 255, 255, .4);	border-right: 1px solid rgba(255, 255, 255, .4);}

/* 섹션 메인 (#main) 공통
*****************************************************************/
#main { padding-top : 18px; position:relative; width: 100%;} 

/* 메인 > 타이틀 #main .title
*****************************************************************/
#main .title { width: 100%; height: 78px;}
#main .title > span {
	display: block;
	margin-top: 1px;
	margin-left: 44px;
	width: 180px; height: 70px;
	background: url("../img/icons/award.gif") no-repeat ;
	text-indent: -99999em;

}

/* 메인 > 포트폴리오
*****************************************************************/
#main .works_view { width: 100%;}
#main .works_view > li{
	float: left;
	height: 296px;
	background-color: #eaeaea;
	border-bottom: 1px solid #fff;
}
#main .works_view > li *{ display: block;}
#main .works_view > li + li{ 
	border-left: 1px solid #fff;

}
#main .works_view > li + li::before{ 
	position: relative;
	top: 50%; left: -3px;
	z-index: 1000;
	width: 5px; height: 11px;
	content: "";
	background-color:#fff;
	border-radius: 3px;
}
#main .works_view > li:nth-child(3n+1){ clear: both;}
#main .works_view .front{ padding-top: 127px; padding-left : 39px;}
#main .works_view .coustomer_info > h3, #main .works_view .coustomer_info > .title{text-transform: uppercase;}
#main .works_view .coustomer_info em{ font-size:12px; color:#bdbcbc; }

/* 포트폴리오 필터링 메뉴
*****************************************************************/
#main #works_filter {position:absolute; top:69px; right: 29px;}
#main #works_filter li{float: left; padding-right: 19px; }
#main #works_filter li + li{padding-left: 19px; }
#main #works_filter li > a
{ 
	display: block;
	height: 10px;
	padding-bottom: 16px; 
	text-indent: -99999em; 
}
#main #works_filter li a.all{
	width: 25px;
	background-image : url("../img/work_all.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#main #works_filter li a.website{
	width: 54px;
	background-image : url("../img/work_website.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#main #works_filter li a.mobile{
	width: 42px;
	background-image : url("../img/work_mobile.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#main #works_filter li a.maintenance{
	width: 92px;
	background-image : url("../img/work_maintenance.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#main #works_filter li a.commerce{
	width: 72px;
	background-image : url("../img/work_commerce.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
#main #works_filter li a.marketing{
	width: 119px;
	background-image : url("../img/work_marketing.gif");
	background-repeat: no-repeat;
	background-position: left top;
}